#myimg {
  width: 95%;
  margin-top: 40px;
  margin-left: 3rem;
}

#title-col {
  padding-top: 12rem;
}

#myname {
  text-align: center;
  font-family: "Lemonada", cursive;
  padding-right: 20px;
}

#tag {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
#tech {
  padding-bottom: 1rem;
  text-align: center;
  text-decoration-line: underline;
}
.mx-auto {
  padding-top:15px ;
}

#contact {
  text-align: center;
}

#phone {
  padding-right: 145px;
}
